body {
	font-family: Arial, sans-serif;
	background: #f5f5f5;
	margin: 0;
	padding: 20px;
}

.container {
	max-width: 600px;
	margin: auto;
}

.item {
	background: white;
	padding: 15px;
	margin-bottom: 12px;
	border-radius: 8px;
	border: 1px solid #ddd;
}

.item h3 {
	margin: 0 0 5px;
}

#info input {
	padding: 6px;
	width: 60%;
}

#info button {
	padding: 6px;
	cursor: pointer;
}

#modal {
	display: none;
	position: fixed;
	top:0; left:0; width:100%; height:100%;
	background: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
}
#modalContent {
	background: white;
	padding: 20px;
	border-radius: 8px;
	max-width: 300px;
	width: 90%;
	text-align: center;
}


/* Адаптив */

@media screen and (max-width: 768px) {
	#products > div {
		flex: 1 1 calc(50% - 20px);
	}

	input[type="number"], button {
		font-size: 12px;
		padding: 10px 8px;
	}
}

@media screen and (max-width: 480px) {
	#products > div {
		flex: 1 1 100%;
	}

	input[type="number"], button {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 5px;
	}

	#products button.close-button {
		width: auto;          /* не растягиваем */
		padding: 2px 6px;     /* компактная */
		font-size: 14px;
	}
}